/* BASE.HTML */
body {
    background-color: rgb(232, 247, 223);
}

nav {
    min-height: 80px;
}

li {
    margin-left: 3px;
    margin-right: 3px;
}

u {
    border-bottom: 3px dotted;
    text-decoration: none;
}

.brand-logo-h4 {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .brand-logo-h4 {
        font-size: 21px;
    }
}

.home-heading {
    padding-top: 5px;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.flash-message h5 {
    line-height: 2;
}

@media only screen and (min-width: 600px) {
    .flash-message {
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .flash-message h5 {
        font-size: 16px;
    }
}

/* ADD_PHOTOGRAPHER.HTML */

.add-photographer-container {
    background-color: rgb(243, 247, 241);
    border: 3px solid rgb(108, 143, 88);
}