/* BASE.HTML */
body {
    min-height: 100%;
    background-color: rgb(232, 247, 223);
    /* IMG from www.teahub.io */
    background: url(../images/talented-people-background-colour.jpg);
    background-repeat: repeat;
    background-position: 50% 16%;
}

header {
    border-bottom: 5px solid white;
}

.col .row {
    margin-left: -0.75rem;
    margin-right: 0.25rem;
}

nav {
    min-height: 80px;
}

li {
    margin-left: 3px;
    margin-right: 3px;
}

u {
    border-bottom: 3px dotted;
    text-decoration: none;
}

.brand-logo-h4 {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .brand-logo-h4 {
        font-size: 21px;
        margin-left: 1px;
    }

    .mobile-navbar {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .brand-logo-h4 {
        font-size: 19px;
    }
}

@media only screen and (max-width: 300px) {
    .brand-logo-h4 {
        font-size: 16px;
    }
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.slider-text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 700px) {
    .element.style {
        height: 180px;
    }
}

.flash-message h5 {
    line-height: 2;
}

@media only screen and (min-width: 600px) {
    .flash-message {
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .flash-message h5 {
        font-size: 16px;
    }
}

/* HOME.HTML */
.home-page-headers {
    color: white;
}

.home-page-headers-h5 {
    margin: 0.52rem;
}

.main-slider {
    border-top: 4px solid #7cb342;
}

.page-underline {
    border-bottom: 4px solid #7cb342;
    border-radius: 30%;
}

.page-underline-middle {
    height: 5px;
    border-bottom: 4px solid #7cb342;
    border-radius: 40%;
}

.page-underline-bottom {
    height: 6px;
    border-bottom: 4px solid #7cb342;
    border-radius: 50%;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

/* PHOTOGRAPHERS.HTML MODELS.HTML */
.add-profile-btn-1 {
    width: 70%;
    border: 2px solid rgb(232, 247, 223);
    border-radius: 3%;
    margin-top: 10px;
    line-height: 30px;
    vertical-align: text-bottom;
}

.h5-highlight {
    line-height: 150%;
}

.search-row {
    height: 80px;
    padding-top: 1px;
}

.search-results {
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .add-profile-btn-1 {
        width: 100%;
        border: 2px solid rgb(232, 247, 223);
        border-radius: 3%;
        margin-top: 10px;
        line-height: 30px;
        vertical-align: text-bottom;
    }
}

/* ADD_PHOTOGRAPHER.HTML */
.add-photographer-container {
    background-color: rgb(243, 247, 241);
    border: 3px solid rgb(108, 143, 88);
}

.add-profile-btn-2 {
    border: 1px solid rgb(232, 247, 223);
    margin: 10px;
    text-align: center;
    line-height: 28px;
}

/* PHOTOGRAPHER.HTML */
.back-btn-1 {
    border: 1px solid rgb(232, 247, 223);
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.photographer-image {
    width: 42vh;
    height: auto;
}

.img-thumbnails {
    display: inline-flex;
}

/* ADD MODEL.HTML */
.add-model-container {
    background-color: rgb(243, 247, 241);
    border: 3px solid rgb(108, 143, 88);
}

/* MODEL.HTML */
.model-image {
    width: 42vh;
    height: auto;
}

/* ADD_CATEGORY.HTML */
.add-category-container {
    background-color: rgb(243, 247, 241);
    border: 3px solid rgb(108, 143, 88);
}

/* FOOTER BASE.HTML */
.page-footer {
    clear: both;
    position: relative;
    height: 100px;
    font-size: 24px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.copyright-left {
    font-size: 14px;
}

.social-footer {
    list-style: none;
    line-height: 28px;
    margin: 0 20px;
}

.social-footer li {
    display: inline;
}

@media only screen and (max-width: 600px) {
    .page-footer {
        font-size: 18px;
    }

    .copyright {
        font-size: 11px;
    }

    .social-footer {
        list-style: none;
        line-height: 35px;
        margin: 0;
    }
}