{% extends "base.html" %}
{% block main_content %}

<a href="{{ url_for('get_models') }}" class=" light-green darken-4 waves-effect waves-light btn-small back-btn-1">
    <i class="fas fa-angle-double-left"></i>
</a>
<h4 class="center-align light-green-text text-darken-4 text-shadow">ADD MODEL
</h4><br>

<div class="container add-photographer-container"><br>
    <form class="col s12" method="POST" action="{{ url_for('add_model') }}">
        <!-- SELECT STYLE -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-camera-retro prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Style</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- PHOTOGRAPHER NAME -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-user-circle prefix"></i>
                <input id="model_name" name="model_name" minlength="4" maxlength="50" type="text"
                    class="validate light-green-text text-darken-4" required>
                <label for="model_name">Model Name:</label>
            </div>
        </div>
        <!-- COUNTRY -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-globe-africa prefix"></i>
                <input id="model_country" name="model_country" minlength="3" maxlength="100" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="model_country">Country:</label>
            </div>
        </div>
        <!-- EXPERIENCE -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-history prefix"></i>
                <input id="model_experience" name="model_experience" minlength="4" maxlength="300" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="model_experience">Experience:</label>
            </div>
        </div>
        <!-- ABOUT -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
                    text-darken-2">
                <i class="fas fa-address-card prefix"></i>
                <input id="model_about" name="model_about" maxlength="500" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="model_about">Something about you:</label>
            </div>
        </div>
        <!-- INSTAGRAM -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fab fa-instagram-square prefix"></i>
                <input id="model_instagram" name="model_instagram" minlength="4" maxlength="50" type="text"
                    class="validate light-green-text text-darken-4" required>
                <label for="model_instagram">Instagram:</label>
            </div>
        </div>
        <!-- WEBSITE -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-globe prefix"></i>
                <input id="model_website" name="model_website" minlength="5" maxlength="50" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="model_website">Website:</label>
            </div>
        </div>
        <!-- PROFILE PHOTO -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-portrait prefix"></i>
                <input id="model_profile_image_URL" name="model_profile_image_URL" type="text"
                    class="validate light-green-text text-darken-4" title="Portrait style image PREFERRED" required>
                <label for="model_profile_image_URL">Profile picture URL:</label>
            </div>
        </div>
        <!-- ADDITIONAL PHOTOS -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
                    text-darken-2">
                <i class="fas fa-image prefix"></i>
                <input id="model_image_URL2" name="model_image_URL2" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="model_image_URL2">Your favourite image URL:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
                    text-darken-2">
                <i class="fas fa-image prefix"></i>
                <input id="model_image_URL3" name="model_image_URL3" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="model_image_URL3">Your favourite image URL:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
                    text-darken-2">
                <i class="fas fa-image prefix"></i>
                <input id="model_image_URL4" name="model_image_URL4" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="model_image_URL4">Your favourite image URL:</label>
            </div>
        </div>
        <!-- ADD PROFILE BUTTON -->
        <div class="row">
            <div class="col s8 offset-s2 center-align light-green-text
            text-darken-2">
                <button class="light-green darken-3 waves-effect waves-light
                btn-large add-profile-btn-2" type="submit">Add Profile
                </button>
            </div>
        </div>
    </form>
</div>
<br>

{% endblock %}