{% extends "base.html" %}
{% block main_content %}

<!--- materializecss.com-cards -->
<div class="row center-align">
    <h3 class="light-green-text text-darken-4 text-shadow">
        Categories
    </h3>
    <br>
    {% if session.user|lower == "admin"|lower %}
    <div class="col s8 offset-s2 m4 offset-m4">
        <a href="{{ url_for('add_category') }}" class="light-green darken-3
        waves-effect waves-light btn-small add-profile-btn-1">
            <i class="fas fa-plus-square left"></i>
            Add Category
        </a>
    </div>
    {% endif %}
</div>

<div class="container center-align">
    <div class="row">
        {% for category in categories %}
        <div class="col s8 m6 offset-s2 offset-s2">
            <div class="card light-green darken-3 text-shadow center-align">
                <div class="card-content white-text">
                    <h5 class="card-title">{{ category.category_name }}</h5>
                </div>
                <p class="light-green darken-1 text-shadow page-underline"></p>
                <div class="card-action">
                    {% if session.user|lower == "admin"|lower %}
                    <!-- Delete Button -->
                    <a href="#delete-modal-{{ category._id }}"
                        class="red darken-3 waves-effect waves-light btn-small back-btn-1 modal-trigger" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                    <!-- Edit Button -->
                    <a href="{{ url_for('edit_category', category_id=category._id) }}"
                        class="light-green darken-3 waves-effect waves-light btn-small back-btn-1" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <!-- Delete Modal -->
                    <div id="delete-modal-{{ category._id }}" class="modal light-green-text text-darken-3">
                        <div class="modal-content center-align">
                            <h4></h4>
                            <h5>Category will be <strong>permanently</strong> deleted!!</h5>
                            <h5>Click <strong>YES</strong> to Delete</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_category', category_id=category._id) }}"
                                class="modal-close waves-effect waves-green btn-flat">Yes</a>
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}