{% extends "base.html" %}
{% block main_content %}

<!--- materializecss.com-cards -->
<div class="row center-align">
    <div>
        <a href="{{ url_for('add_category') }}" class="light-green darken-3
        waves-effect waves-light btn-small add-profile-btn-1">
            <i class="fas fa-plus-square left"></i>
            Add Category
        </a>
    </div>

    <h4 class="center-align light-green-text text-darken-3 text-shadow">
        Manage Categories
    </h4>
</div><br>

<div class="container center-align">
    <div class="row">
        {% for category in categories %}
        <div class="col s8 m6 offset-s2 offset-s2">
            <div class="card light-green darken-3 text-shadow center-align">
                <div class="card-content white-text">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <p class="light-green darken-1 text-shadow page-underline"></p>
                <div class="card-action">
                    <!-- Delete Button -->
                    <a href="" class="red darken-3 waves-effect waves-light btn-small back-btn-1 modal-trigger"
                        title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                    <!-- Edit Button -->
                    <a href="{{ url_for('edit_category', category_id=category._id) }}"
                        class="light-green darken-3 waves-effect waves-light btn-small back-btn-1" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}