{% extends "base.html" %}
{% block main_content %}

{% if session.user|lower == photographer.created_by|lower %}
<a href="{{ url_for('profile', username=session['user']) }}"
    class=" light-green darken-4 waves-effect waves-light btn-small back-btn-1">
    <i class="fas fa-angle-double-left"></i>
</a>
<h4 class="center-align light-green-text text-darken-4 text-shadow">{{ photographer["photographer_name"] }}
</h4><br>

<div class="container add-photographer-container"><br>
    <form class="col s12" method="POST" action="{{ url_for('edit_photographer', photographer_id=photographer._id) }}">
        <!-- SELECT STYLE -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-camera-retro prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Style</option>
                    {% for category in categories %}
                    {% if category.category_name == category.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- PHOTOGRAPHER NAME -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-user-circle prefix"></i>
                <input id="photographer_name" name="photographer_name" minlength="4" maxlength="50"
                    value="{{ photographer.photographer_name }}" type="text"
                    class="validate light-green-text text-darken-4" required>
                <label for="photographer_name">Photographer Name:</label>
            </div>
        </div>
        <!-- COUNTRY -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-globe-africa prefix"></i>
                <input id="photographer_country" name="photographer_country" minlength="3" maxlength="100"
                    value="{{ photographer.photographer_country }}" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="photographer_country">Country:</label>
            </div>
        </div>
        <!-- EXPERIENCE -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-history prefix"></i>
                <input id="photographer_experience" name="photographer_experience" minlength="4" maxlength="300"
                    value="{{ photographer.photographer_experience }}" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="photographer_experience">Experience:</label>
            </div>
        </div>
        <!-- EQUIPMENT -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-camera prefix"></i>
                <input id="photographer_equipment" name="photographer_equipment" maxlength="150"
                    value="{{ photographer.photographer_equipment }}" type="text" class="validate
                light-green-text text-darken-4" title="Optional">
                <label for="photographer_equipment">Camera:</label>
            </div>
        </div>
        <!-- ABOUT -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
                    text-darken-2">
                <i class="fas fa-address-card prefix"></i>
                <input id="photographer_about" name="photographer_about" maxlength="500"
                    value="{{ photographer.photographer_about }}" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="photographer_about">Something about you:</label>
            </div>
        </div>
        <!-- INSTAGRAM -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fab fa-instagram-square prefix"></i>
                <input id="photographer_instagram" name="photographer_instagram" minlength="4" maxlength="50"
                    value="{{ photographer.photographer_instagram }}" type="text"
                    class="validate light-green-text text-darken-4" required>
                <label for="photographer_instagram">Instagram:</label>
            </div>
        </div>
        <!-- WEBSITE -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-globe prefix"></i>
                <input id="photographer_website" name="photographer_website" minlength="5" maxlength="50"
                    value="{{ photographer.photographer_website }}" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="photographer_website">Website:</label>
            </div>
        </div>
        <!-- PROFILE PHOTO -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
            text-darken-2">
                <i class="fas fa-portrait prefix"></i>
                <input id="photographer_profile_image_URL" name="photographer_profile_image_URL"
                    value="{{ photographer.photographer_profile_image_URL }}" type="text"
                    class="validate light-green-text text-darken-4" title="Portrait style image PREFERRED" required>
                <label for="photographer_profile_image_URL">Profile picture URL:</label>
            </div>
        </div>
        <!-- ADDITIONAL PHOTOS -->
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
                    text-darken-2">
                <i class="fas fa-image prefix"></i>
                <input id="photographer_image_URL2" name="photographer_image_URL2"
                    value="{{ photographer.photographer_image_URL2 }}" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="photographer_image_URL2">Your favourite image URL:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
                    text-darken-2">
                <i class="fas fa-image prefix"></i>
                <input id="photographer_image_URL3" name="photographer_image_URL3"
                    value="{{ photographer.photographer_image_URL3 }}" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="photographer_image_URL3">Your favourite image URL:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2 light-green-text
                    text-darken-2">
                <i class="fas fa-image prefix"></i>
                <input id="photographer_image_URL4" name="photographer_image_URL4"
                    value="{{ photographer.photographer_image_URL4 }}" type="text"
                    class="validate light-green-text text-darken-4" title="Optional">
                <label for="photographer_image_URL4">Your favourite image URL:</label>
            </div>
        </div>
        <!--CANCEL / SAVE PROFILE BUTTONS -->
        <div class="row">
            <div class="col s12 center-align light-green-text
            text-darken-2">
                <a href="{{ url_for('profile', username=session['user']) }}" class="red darken-3 waves-effect waves-light
                btn-small add-profile-btn-2" type="submit"><i class="fas fa-times-circle"></i> Cancel
                </a>
                <button class="light-green darken-3 waves-effect waves-light
                btn-small add-profile-btn-2" type="submit"><i class="fas fa-check-circle"></i> Save Profile
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %}
<br>

{% endblock %}