{% extends "base.html" %}
{% block main_content %}

<div class="row no-margin-bottom">
    <div class="col s10 m8 offset-s1 offset-m2">
        <p class="light-green darken-1 page-underline-bottom"></p>
    </div>
    <div class="col s8 m6 offset-s2 offset-m3">
        <p class="light-green darken-1 page-underline-middle"></p>
    </div>
    <div class="col s6 m4 offset-s3 offset-m4">
        <p class="light-green darken-1 text-shadow page-underline"></p>
    </div>
</div>

<div class="row center-align no-margin-bottom light-green darken-2">
    <div class="col s6 m4 offset-s3 offset-m4 home-page-headers">
        <h5 class="center-align text-shadow home-page-headers-h5">Right Here...</h5>
    </div>
</div>

<div class="row no-margin-bottom">
    <div class="col s6 m4 offset-s3 offset-m4">
        <p class="light-green darken-1 text-shadow page-underline"></p>
    </div>
    <div class="col s8 m6 offset-s2 offset-m3">
        <p class="light-green darken-1 text-shadow page-underline-middle"></p>
    </div>
    <div class="col s10 m8 offset-s1 offset-m2">
        <p class="light-green darken-1 text-shadow page-underline-bottom slider-text-shadow"></p>
    </div>
</div>
<!-- Slider Section -->
<!-- materializecss.com slider -->
<div class="slider main-slider">
    <ul class="slides main-slides">
        <li>
            <img src="{{url_for('static', filename='images/model-faces-page.jpg')}}" alt="Models">
            <div class="caption right-align white-text slider-text-shadow">
                <h4>Talented Models</h4>
            </div>
        </li>
        <li>
            <img src="{{url_for('static', filename='images/model-faces-page.jpg')}}" alt="Models">
            <div class="caption left-align white-text slider-text-shadow">
                <h4>Talented Models</h4>
            </div>
        </li>
    </ul>
</div>

<div class="row no-margin-bottom">
    <div class="col s10 m8 offset-s1 offset-m2">
        <p class="light-green darken-1 page-underline-bottom"></p>
    </div>
    <div class="col s8 m6 offset-s2 offset-m3">
        <p class="light-green darken-1 page-underline-middle"></p>
    </div>
    <div class="col s6 m4 offset-s3 offset-m4">
        <p class="light-green darken-1 text-shadow page-underline"></p>
    </div>
</div>

<div class="row center-align no-margin-bottom light-green darken-2">
    <div class="col s6 m4 offset-s3 offset-m4 home-page-headers">
        <h5 class="center-align text-shadow home-page-headers-h5">Meets...</h5>
    </div>
</div>

<div class="row no-margin-bottom">
    <div class="col s6 m4 offset-s3 offset-m4">
        <p class="light-green darken-1 text-shadow page-underline"></p>
    </div>
    <div class="col s8 m6 offset-s2 offset-m3">
        <p class="light-green darken-1 text-shadow page-underline-middle"></p>
    </div>
    <div class="col s10 m8 offset-s1 offset-m2">
        <p class="light-green darken-1 text-shadow page-underline-bottom slider-text-shadow"></p>
    </div>
</div>

<!-- Slider Section -->
<!-- materializecss.com slider -->
<div class="slider main-slider">
    <ul class="slides main-slides">
        <li>
            <img src="{{url_for('static', filename='images/model-faces-page.jpg')}}" alt="Models">
            <div class="caption center-align white-text slider-text-shadow">
                <h4>Talented Photographers</h4>
            </div>
        </li>
        <li>
            <img src="{{url_for('static', filename='images/model-faces-page.jpg')}}" alt="Models">
            <div class="caption center-align white-text slider-text-shadow">
                <h4>Talented Photographers</h4>
            </div>
        </li>
    </ul>
</div>

<div class="row no-margin-bottom">
    <div class="col s10 m8 offset-s1 offset-m2">
        <p class="light-green darken-1 page-underline-bottom"></p>
    </div>
    <div class="col s8 m6 offset-s2 offset-m3">
        <p class="light-green darken-1 page-underline-middle"></p>
    </div>
    <div class="col s6 m4 offset-s3 offset-m4">
        <p class="light-green darken-1 text-shadow page-underline"></p>
    </div>
</div>

<div class="row center-align no-margin-bottom light-green darken-2">
    <div class="col s6 m4 offset-s3 offset-m4 home-page-headers">
        <h5 class="center-align text-shadow home-page-headers-h5">To Create...</h5>
    </div>
</div>

<div class="row no-margin-bottom">
    <div class="col s6 m4 offset-s3 offset-m4">
        <p class="light-green darken-1 text-shadow page-underline"></p>
    </div>
    <div class="col s8 m6 offset-s2 offset-m3">
        <p class="light-green darken-1 text-shadow page-underline-middle"></p>
    </div>
    <div class="col s10 m8 offset-s1 offset-m2">
        <p class="light-green darken-1 text-shadow page-underline-bottom slider-text-shadow"></p>
    </div>
</div>

<!-- Slider Section -->
<!-- materializecss.com slider -->
<div class="slider main-slider">
    <ul class="slides main-slides">
        <li>
            <img src="{{url_for('static', filename='images/model-faces-page.jpg')}}" alt="Models">
            <div class="caption right-align white-text slider-text-shadow">
                <h4>Unique Projects</h4>
            </div>
        </li>
        <li>
            <img src="{{url_for('static', filename='images/model-faces-page.jpg')}}" alt="Models">
            <div class="caption leftr-align white-text slider-text-shadow">
                <h4>Unique Project</h4>
            </div>
        </li>
    </ul>
</div>

<div class="row no-margin-bottom">
    <div class="col s10 m8 offset-s1 offset-m2">
        <p class="light-green darken-1 page-underline-bottom"></p>
    </div>
    <div class="col s8 m6 offset-s2 offset-m3">
        <p class="light-green darken-1 page-underline-middle"></p>
    </div>
    <div class="col s6 m4 offset-s3 offset-m4">
        <p class="light-green darken-1 text-shadow page-underline"></p>
    </div>
</div>

<div class="row center-align no-margin-bottom light-green darken-2">
    <div class="col s6 m4 offset-s3 offset-m4 home-page-headers">
        <h5 class="center-align text-shadow home-page-headers-h5">Join Us Now!</h5>
    </div>
</div>

<div class="row no-margin-bottom">
    <div class="col s6 m4 offset-s3 offset-m4">
        <p class="light-green darken-1 text-shadow page-underline"></p>
    </div>
    <div class="col s8 m6 offset-s2 offset-m3">
        <p class="light-green darken-1 text-shadow page-underline-middle"></p>
    </div>
    <div class="col s10 m8 offset-s1 offset-m2">
        <p class="light-green darken-1 text-shadow page-underline-bottom slider-text-shadow"></p>
    </div>
</div>
<div class="row center-align">
    <div class="col s12 home-page-headers">
        {% if session.user %}
        <a href="{{ url_for('profile', username=session['user']) }}" class="light-green darken-3
        waves-effect waves-light btn-small add-profile-btn-1">My Profile
        </a>
    </div>
    <div class="col s12 home-page-headers">
        {% else %}
        <a href="{{ url_for('login') }}" class="light-green darken-3
        waves-effect waves-light btn-small add-profile-btn-1">Log In
        </a>
    </div>

    <div class="col s12 home-page-headers">
        <a href="{{ url_for('register') }}" class="light-green darken-3
        waves-effect waves-light btn-small add-profile-btn-1">Register
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}