{% extends "base.html" %}
{% block main_content %}
<!-- LOGIN FORM -->
<h4 class="center-align light-green-text text-darken-4 text-shadow">LOG IN</h4>

<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!-- USERNAME -->
            <div class="row">
                <div class="input-field col s9 offset-s1">
                    <i class="fas fa-user-tie prefix light-green-text text-darken-3"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                        title="Enter your Username (5 to 15 alpha-numeric characters)" required>
                    <label for="username">Your Username</label>
                </div>
            </div>
            <!-- PASSWORD -->
            <div class="row">
                <div class="input-field col s9 offset-s1">
                    <i class="fas fa-key prefix light-green-text text-darken-3"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                        title="Enter your Password (5 to 15 alpha-numeric characters)" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- LOGIN -->
            <div class="row">
                <button type="submit" class="col s8 offset-s2 btn-large light-green darken-4 text-shadow"
                    title="Click to Log In">
                    Log In
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s8 offset-s2">
        <h6 class="center-align">
            Register <a href="{{ url_for('register') }}" class="green-text">Here</a>
        </h6>
    </div>
</div>

{% endblock %}