{% extends "base.html" %}
{% block main_content %}

<div class="row center-align">
    <!---  Page Header -->
    <h3 class="light-green-text text-darken-4 text-shadow">
        Models
    </h3>
    {% if session.user %}
    <div class="col s10 offset-s1 m6 offset-m3">
        <!--- If User Add Model Button -->
        <a href="{{ url_for('add_model') }}" class="light-green darken-3
        waves-effect waves-light btn-small add-profile-btn-1">
            <i class="fas fa-plus-square left"></i>
            Add Model
        </a>
    </div>
    <!--- If No User Join Us -->
    {% else %}
    <div class="col s10 offset-s1 l8 offset-l2">
        <h5 class="light-green-text text-darken-4 text-shadow">
            JOIN OUR COMMUNITY
        </h5>
        <a href="{{ url_for('register') }}" title="Register Now">
            <h5 class="white-text text-shadow light-green darken-3 h5-highlight">
                To add your Profile, REGISTER NOW!
            </h5>
        </a>
    </div>
    {% endif %}
</div>
<!--- Search Models -->
<div class="row card-panel light-green darken-3 search-row">
    <form action="{{ url_for('search_models') }}" method="POST" class="col s12 m8 offset-m2">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8 offset-m2">
                <i class="fas fa-search prefix white-text"></i>
                <input type="text" name="query_models" id="query_models" minlength="3" class="validate white-text"
                    required>
                <label for="query_models">Search</label>
            </div>
            <div class="col s10 m8">
                <a href="{{ url_for('get_models') }}" class="red btn-small">Reset</a>
                <button type="submit" class="light-green btn-small">
                    <i class="fas fa-search white-text"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<br>
<!--- Materializecss.com-cards -->
<!--- All Models From the Database -->
<div class="container">
    <!--- If Profile Found -->
    {% if models|length > 0 %}
    <div class="row center-align">
        {% for model in models %}
        <div class="col s10 m6 l3 offset-s1">
            <div class="card large hoverable">
                <div class="card-image">
                    <a href="{{ url_for('modelprofile', model_id=model._id) }}" title="View">
                        <img src="{{ model.model_profile_image_URL }}" alt="{{ model.model_name }} profile image">
                    </a>
                </div>
                <div class="card-content">
                    <h5><strong>{{ model.model_name }}</strong></h5>
                    <br>
                    <p><strong>Instagram:</strong> {{ model.model_instagram }}</p>
                    <br>
                </div>
                <br>
                <a href="{{ url_for('modelprofile', model_id=model._id) }}" class="light-green-text text-darken-3">
                    <div class="card-action">
                        <strong>VIEW</strong>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--- If No Models Found -->
    {% else %}
    <div class="row">
        <div class="col s12 center-align search-results">
            <h4 class="light-green-text text-darken-4">
                No Models Found!
            </h4>
            <br>
            <p class="light-green-text text-darken-4">
                Try to search a different phrase.
            </p>
            <br>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}