{% extends "base.html" %}
{% block main_content %}

<div class="row center-align">
    <!---  page header -->
    <h3 class="light-green-text text-darken-4 text-shadow">
        Models
    </h3>
    {% if session.user %}
    <div class="col s10 offset-s1 m6 offset-m3">
        <!--- if user add model button -->
        <a href="{{ url_for('add_model') }}" class="light-green darken-3
        waves-effect waves-light btn-small add-profile-btn-1">
            <i class="fas fa-plus-square left"></i>
            Add Model
        </a>
    </div>
    <!--- if no user join us -->
    {% else %}
    <div class="col s10 offset-s1 l8 offset-l2">
        <h5 class="light-green-text text-darken-4 text-shadow">
            JOIN OUR COMMUNITY
        </h5>
        <h5 class="white-text text-shadow light-green darken-4 h5-highlight">
            To add your Profile, REGISTER NOW!
        </h5>
    </div>
    {% endif %}
</div>
<!--- materializecss.com-cards -->
<!--- all models from db -->
<div class="container">
    <div class="row center-align">
        {% for model in models %}
        <div class="col s10 m6 l3 offset-s1">
            <div class="card large">
                <div class="card-image">
                    <img src="{{ model.model_profile_image_URL }}">
                </div>
                <div class="card-content">
                    <h5><strong>{{ model.model_name }}</strong></h5>
                    <br>
                    <p><strong>Instagram:</strong> {{ model.model_instagram }}</p><br>

                </div>
                <div class="card-action">
                    <a href="{{ url_for('modelprofile', model_id=model._id) }}"
                        class="light-green-text text-darken-3"><strong>View Profile</strong></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}