{% extends "base.html" %}
{% block main_content %}

<h4 class="center-align light-green-text text-darken-3 text-shadow">PHOTOGRAPHERS
</h4>

{% for photographer in photographers %}
{{ photographer.category_name }}<br>
{{ photographer.photographer_name }}<br>
{{ photographer.photographer_experience }}<br>
{{ photographer.photographer_country }}<br>
{{ photographer.equipment }}<br>
{{ photographer.photographer_instagram }}<br>
{{ photographer.photographer_image_URL }}<br>
{% endfor %}

{% endblock %}