{% extends "base.html" %}
{% block main_content %}

<div class="row">
    <div class="col s12">
        <!-- Back Button -->
        <a href="{{ url_for('get_photographers') }}"
            class="light-green darken-4 waves-effect waves-light btn-small back-btn-1">
            <i class="fas fa-angle-double-left"></i>
        </a>
        {% if session.user|lower == photographer.created_by|lower %}
        <!-- Delete Button -->
        <a href="#delete-modal-{{ photographer._id }}"
            class="red darken-3 waves-effect waves-light btn-small back-btn-1 right modal-trigger" title="Delete">
            <i class="fas fa-trash"></i>
        </a>
        <!-- Edit Button -->
        <a href="{{ url_for('edit_photographer', photographer_id=photographer._id) }}"
            class="light-green darken-4 waves-effect waves-light btn-small back-btn-1 right" title="Edit">
            <i class="fas fa-edit"></i>
        </a>

        <!-- Delete Modal -->
        <div id="delete-modal-{{ photographer._id }}" class="modal light-green-text text-darken-3">
            <div class="modal-content center-align">
                <h4>Profile will be <strong>permanently</strong> deleted!!</h4>
                <h5>Click <strong>YES</strong> to Delete</h5>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_photographer', photographer_id=photographer._id) }}"
                    class="modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>
        {% endif %}
        <h4 class="center-align light-green-text text-darken-4 text-shadow">
            {{ photographer["photographer_name"] }}'s Profile
        </h4>
    </div>
</div>
<br>
<br>
<!-- Photographer Profile -->
<div class="container">
    <div class="row">
        <!-- Photographer Profile Images -->
        <div class="col s12 m12 l6 center-align">
            <img src="{{ photographer.photographer_profile_image_URL }}" class="photographer-image"
                alt="photographer image">
        </div>
        <!-- Photographer Info -->
        <div class="col s12 m12 l5">
            <ul>
                <li>
                    <h6><b>Style:</b> <strong>{{ photographer.category_name }}</strong></h6>
                </li>
            </ul>
            <br>
            {% if photographer.photographer_country %}
            <ul>
                <li>
                    <h6><b>Country:</b> <strong>{{ photographer.photographer_country }}</strong></h6>
                </li>
            </ul>
            <br>
            {% endif %}
            {% if photographer.photographer_experience %}
            <ul>
                <li>
                    <h6><b>Experience:</b> <strong>{{ photographer.photographer_experience }}</strong></h6>
                </li>
            </ul>
            <br>
            {% endif %}
            {% if photographer.photographer_equipment %}
            <ul>
                <li>
                    <h6><b>Favourite camera(s):</b> <strong>{{ photographer.photographer_equipment }}</strong></h6>
                </li>
            </ul>
            <br>
            {% endif %}
            {% if photographer.photographer_about %}
            <ul>
                <li>
                    <h6><b>About:</b> <strong>{{ photographer.photographer_about }}</strong></h6>
                </li>
            </ul>
            <br>
            {% endif %}
            <ul>
                <li>
                    <h6><b>Instagram:</b> <strong>{{ photographer.photographer_instagram }}</strong></h6>
                </li>
            </ul>
            <br>
            {% if photographer.photographer_website %}
            <ul>
                <li>
                    <h6><b>Website:</b> <strong>{{ photographer.photographer_website }}</strong></h6>
                </li>
            </ul>
            <br>
            {% endif %}
        </div>
    </div>
    <!-- Photographer extra Images -->
    <div class="row">
        <div class="col s4 m2 l2">
            <img class="materialboxed img-thumbnails" width="110" src="{{ photographer.photographer_image_URL2 }}"
                alt="photographer image">
        </div>
        <div class="col s4 m2 l2">
            <img class="materialboxed img-thumbnails" width="110" src="{{ photographer.photographer_image_URL3 }}"
                alt="photographer image">
        </div>
        <div class="col s4 m2 l2">
            <img class="materialboxed img-thumbnails" width="110" src="{{ photographer.photographer_image_URL4 }}"
                alt="photographer image">
        </div>
    </div>
</div>

{% endblock %}