{% extends "base.html" %}
{% block main_content %}

<div class="row">
    <div class="col s12">
        <!-- Back Button -->
        <a href="{{ url_for('get_photographers') }}"
            class=" light-green darken-3 waves-effect waves-light btn-small back-btn-1">
            <i class="fas fa-angle-double-left"></i>
        </a>
        {% if session.user|lower == photographer.created_by|lower %}
        <!-- Delete Button -->
        <a href="#delete-modal-{{ photographer._id }}"
            class="red darken-3 waves-effect waves-light btn-small back-btn-1 right modal-trigger" title="Delete">
            <i class="fas fa-trash"></i>
        </a>
        <!-- Edit Button -->
        <a href="{{ url_for('edit_photographer', photographer_id=photographer._id) }}"
            class="light-green darken-3 waves-effect waves-light btn-small back-btn-1 right" title="Edit">
            <i class="fas fa-edit"></i>
        </a>

        <!-- Delete Modal -->
        {% endif %}

        <h4 class="center-align light-green-text text-darken-3 text-shadow">
            {{ photographer["photographer_name"] }}'s Profile
        </h4>
    </div>
</div>

<br>
<br>
<!-- Photographer Profile -->
<div class="container">
    <div class="row">
        <div class="col s12 l6">
            <img src="{{ photographer.photographer_profile_image_URL }}" class="photographer-image"
                alt="photographer image">
        </div>

        <div class="col s12 l6">
            <ul>
                <li>
                    <h6><strong>Style:</strong> {{ photographer.category_name }}</h6>
                </li>
            </ul>
            <br>
            {% if photographer.photographer_country %}
            <ul>
                <li>
                    <h6><strong>Country:</strong> {{ photographer.photographer_country }}</h6>
                </li>
            </ul>
            <br>
            {% endif %}
            {% if photographer.photographer_experience %}
            <ul>
                <li>
                    <h6><strong>Experience:</strong> {{ photographer.photographer_experience }}</h6>
                </li>
            </ul>
            <br>
            {% endif %}
            {% if photographer.photographer_equipment %}
            <ul>
                <li>
                    <h6><strong>Favourite camera(s):</strong> {{ photographer.photographer_equipment }}</h6>
                </li>
            </ul>
            <br>
            {% endif %}
            {% if photographer.photographer_about %}
            <ul>
                <li>
                    <h6><strong>About:</strong> {{ photographer.photographer_about }}</h6>
                </li>
            </ul>
            <br>
            {% endif %}
            <ul>
                <li>
                    <h6><strong>Instagram:</strong> {{ photographer.photographer_instagram }}</h6>
                </li>
            </ul>
            <br>
            {% if photographer.photographer_website %}
            <ul>
                <li>
                    <h6><strong>Website:</strong> {{ photographer.photographer_website }}</h6>
                </li>
            </ul>
            <br>
            {% endif %}
        </div>
    </div>
    <!-- Photographer Images -->
    <div class="row">
        <div class="col s4 m2 l2">
            <img class="materialboxed img-thumbnails" width="110" src="{{ photographer.photographer_image_URL2 }}">
        </div>
        <div class="col s4 m2 l2">
            <img class="materialboxed img-thumbnails" width="110" src="{{ photographer.photographer_image_URL3 }}">
        </div>
        <div class="col s4 m2 l2">
            <img class="materialboxed img-thumbnails" width="110" src="{{ photographer.photographer_image_URL4 }}">
        </div>
    </div>
</div>

{% endblock %}