{% extends "base.html" %}
{% block main_content %}

<div class="row center-align">
    <!---  Page Header -->
    <h3 class="center-align light-green-text text-darken-4 text-shadow">
        Photographers
    </h3>
    {% if session.user %}
    <div class="col s10 offset-s1 m6 offset-m3">
        <!--- If User Add Photographer Button -->
        <a href="{{ url_for('add_photographer') }}" class="light-green darken-3
        waves-effect waves-light btn-small add-profile-btn-1">
            <i class="fas fa-plus-square left"></i>
            Add Photographer
        </a>
    </div>
    <!--- If No User Join Us -->
    {% else %}
    <div class="col s10 offset-s1 l8 offset-l2">
        <h5 class="light-green-text text-darken-4 text-shadow">
            JOIN OUR COMMUNITY
        </h5>
        <h5 class="white-text text-shadow light-green darken-4 h5-highlight">
            To add your Profile, REGISTER NOW!
        </h5>
    </div>
    {% endif %}
</div>
<!--- Materializecss.com-cards -->
<!--- All Photographers From the Database -->
<div class="container">
    <div class="row center-align">
        {% for photographer in photographers %}
        <div class="col s10 m6 l4 offset-s1">
            <div class="card large hoverable">
                <div class="card-image">
                    <a href="{{ url_for('photographerprofile', photographer_id=photographer._id) }}" title="View">
                        <img src="{{ photographer.photographer_profile_image_URL }}">
                    </a>
                </div>
                <div class="card-content">
                    <p>{{ photographer.category_name }}</p>
                    <h5><strong>{{ photographer.photographer_name }}</strong></h5>
                    <p><strong>Instagram:</strong> {{ photographer.photographer_instagram }}</p><br>
                </div>
                <a href="{{ url_for('photographerprofile', photographer_id=photographer._id) }}"
                    class="light-green-text text-darken-3">
                    <div class="card-action">
                        <strong>VIEW</strong>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}