{% extends "base.html" %}
{% block main_content %}
<!-- REGISTER FORM -->
<h4 class="center-align light-green-text text-darken-3 text-shadow">REGISTER</h4>

<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- USERNAME -->
            <div class="row">
                <div class="input-field col s11">
                    <i class="fas fa-user-plus prefix light-green-text text-darken-3"></i>
                    <input id="username" name="username" type="text" class="validate"
                        title="Please use minimum of 5 characters">
                    <label for="username">Your Username</label>
                </div>
            </div>
            <!-- PASSWORD -->
            <div class="row">
                <div class="input-field col s11">
                    <i class="fas fa-lock prefix light-green-text text-darken-3"></i>
                    <input id="password" name="password" type="password" class="validate"
                        title="Please use minimum of 5 characters">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- REGISTER -->
            <div class="row">
                <button type="submit" class="col s12 btn-large light-green darken-4 text-shadow"
                    title="Click to register">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}